.co  {
  border: 3px solid black;
  margin: 0 auto;
  text-align: center;
}
.co1 td{
  background-color: rgb(156, 156, 206);
}
.c{
  text-align: center;
}
.bo{
  text-align: center;
  width: 90%;
  padding-top: 30px;
  
  
}